*.iml
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.ipr
*.iws
*.bak
.settings/
.project
.metadata/
.idea/
.idea/*
build/
build/*
node_modules/
node_modules/*
/bin
*/bin
*.lnk
pom.xml.versionsBackup
